# Ignore Python cache files/folders
__pycache__/
*.pyc

# Ignore VS Code settings folder
.vscode/

# Ignore Mac system files (helpful if working on Mac)
.DS_Store

# (Optional) Ignore other system files/temp files if needed
*.log
Thumbs.db
